.network__title {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.network__title-top {
  display: flex;
  align-items: space-between;
}

.network__title span {
  font-size: 24px;
  color: #667784;
}

.network__filters {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.network__filter {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.network__title-down {
  display: flex;
}

.network__button {
  padding: 8px;
  margin-right: 10px;
  border: 2px solid #788b99;
  border-radius: 40px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: #788b99;
  background-color: #fff;
}

.network__button:hover {
  background: rgba(120, 139, 153, 0.4);
}

.selected {
  background: #788b99;
  color: #fff;
}

.network__title-down .left {
  color: #414f5a;
  font-size: 18px;
}
