.profile {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.profile__aside {
  width: 265px;
  padding: 16px;
  overflow-y: scroll;
}

.profile__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.prhelp {
  text-align: center;
  max-width: 420px;
}

.prhelp__title {
  color: #667784;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.prhelp__content {
  font-size: 16px;
  color: #667784;
}

.profile__aside-avatar {
  margin-bottom: 25px;
}
