.tables {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.tables table {
  width: 100%;
  margin: 10px 0px 20px;
}

.tables span {
  font-size: 18px;
  color: #414f5a;
  font-weight: 400;
}

.tables table th {
  text-align: left;
  padding-bottom: 10px;
}

.tables table td {
  text-align: left;
  padding: 10px 0px;
}

.tables button {
  margin-bottom: 10px;
}

.noinfo {
  text-align: center;
  color: #788b99;
  font-size: 20px;
}
