.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 14px;
}

.legal span {
  padding-right: 10px;
}

.socialMedia span {
  padding-right: 8px;
  padding-left: 8px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
