.input {
  position: relative;
  display: flex;
}

.input__icon {
  position: absolute;
  bottom: 35%;
  left: 3%;
  color: #667784;
}

.input__field {
  flex: 1;
  height: 50px;
  border-radius: 4px;
  background-color: #eff1f3;
  font-weight: 400;
  color: #667784;
  border: 1px solid transparent;
  padding: 0px 12px 0px 37px;
  font-size: 16px;
}
